.ad-form__text-error {
  display: block;
  font-size: 12px;
  padding-top: 5px;
  color: #f7112d;
}

.error-message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #f7112d;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

.ad-form__submit:disabled {
  opacity: 0.8;
}


.ad-form__photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
